page-add-putongweixiu-message {
  .list-header{
    background-color: #EBEBEB;
    border-bottom: 0px;
  }
  .list-header i{
    color: #007aff;
  }
  .row {
    line-height: 30px;
    border-bottom: 1px solid #C8C7CC;
  }
  ion-input{
    height:30px;
  }
  .text-input{
    margin-top: 0px;
    text-align: right;
  }
  .grid i{
    color: #c8c7cc;
  }
  .grid ion-row:nth-child(1) ion-col:nth-child(1),
  .grid ion-row:nth-child(4) ion-col:nth-child(1){
    color: gray;
  }
  ion-content{
    background-color: white;
  }
}
