page-supplier{
  .one_div{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    height: 100%;
  }
  .abroad_div{
    background-color: white;
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-top: 20%;
  }
  .row{
    border-bottom: 1px solid #C8C7CC;
  }
  .col{
    padding: 15px;
  }
}
