<!--
  Generated template for the JiuzhengxingweixiuhuodongPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="top_div">
    <ion-icon name="ios-arrow-back" (tap)="backPage()"></ion-icon>
    <div class="title_div"><span>普通维修</span></div>
    <ion-icon name="menu" menuToggle></ion-icon>
  </div>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list-header>
    <i class="iconfont">&#xe666;活动</i>
  </ion-list-header>
  <ion-list>
    <ion-item-sliding #item *ngFor="let g of huodonglist">
      <ion-item  (tap)="godetailpage(g)">
        <ion-grid>
          <ion-row>
            <ion-col col-3>序号:</ion-col><ion-col col-9>{{g.act_act}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>工作说明:</ion-col><ion-col col-9>{{g.act_note}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (tap)="deleteHuodong(g.act_act)">删除</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer *ngIf="jzxwxDetail.evt_rstatus!='C'">
  <div class="footerDiv">
    <button ion-button (tap)="newHuodong()">新增</button>
  </div>
</ion-footer>
