page-huodong {
  .list-header{
    background-color: #EBEBEB;
    border-bottom: 0px;
  }
  .list-header i{
    color: #007aff;
  }
  .grid{
    border-bottom: 1px solid #c8c7cc;
  }
  .row{
    margin-left: 5%;
  }
  ion-row ion-col:nth-child(1){
    color: gray;
  }
}
