page-weixiujilu {
  .row {
    line-height: 30px;
    border-bottom: 1px solid #C8C7CC;
  }
  ion-input{
    height:30px;
  }
  .text-input{
    margin-top: 0px;
    text-align: right;
  }
  .grid i{
    color: #c8c7cc;
  }
}
